.CarouselItem {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 100px;

	justify-content: center;
	align-items: center;

	height: 400px;
	min-width: 50vw;

	border: 1px solid black;

	&__Title {
		position: static;
		right: 0;
		bottom: 0;
	}
}
