@use "../../../styles/palette";

.ShowAll {
	background-color: palette.$light;

	margin: 100px;
	border: 2px solid palette.$accent;
	border-radius: 10px;
	padding: 20px;

	color: palette.$dark;
	font-size: 24pt;
	text-decoration: none;

	&:hover {
		background-color: white;
	}
}
