.Loading {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;

	background-color: red;

	font-size: 72px;

	z-index: -9999;
}
