@use "../../../styles/palette";

.StoreItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 2px solid palette.$accent;
	border-radius: 20px;

	color: palette.$dark;
	text-decoration: none;

	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	background-color: palette.$light;

	&:hover {
		outline: 3px solid palette.$base;
	}

	&:active {
		background-color: palette.$light;
	}

	&__img {
		width: 200px;
		height: 200px;
		border-radius: 5px;
		object-fit: contain;
	}
}
