@use "../../../styles/palette";

.Nav {
	display: flex;
	width: 100vw;

	position: sticky;
	top: 0px;

	border-bottom: 2px solid palette.$base;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

	background-color: palette.$light;

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 300px;
		padding: 20px;

		font-size: 24pt;

		color: palette.$dark;
		text-decoration: none;

		&:hover {
			outline: 1px solid palette.$base;
			background-color: white;
			box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
		}

		&:active {
			outline: 2px solid palette.$base;
			background-color: white;
			box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
		}
	}

	&__right {
		margin-left: auto;
	}
}
